<table class="table">
             <thead class="thead-inverse">
             <tr>
                 <th class="text-center">Emp Name</th>
                 <th class="text-center">ID</th>
                 <th class="text-center">Emp Age</th>
                 <th class="text-center">Em Salary</th>
             </tr>
             </thead>
             <tbody>
<tr *ngFor="let post of users">
                 <!-- <td class="text-center" style="width: 15px;">{{post.employee_name}}</td>
                 <td class="text-center" style="width: 15px;">{{post.id}}</td>
                 <td class="text-center" style="width: 200px;">{{post.employee_age}}</td>
                 <td class="text-center">{{post.employee_salary}}</td> -->
                 <td class="text-center" style="width: 15px;">{{post.title}}</td>
                 <td class="text-center" style="width: 15px;">{{post.id}}</td>
                 <td class="text-center" style="width: 200px;">{{post.userId}}</td>
                 <td class="text-center">{{post.completed}}</td>
             </tr>

                          </tbody>
                      </table>